<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | join: ',' }}{% endif %}" />
    <meta name="description" content="{% if page.description %}{{ page.description }}{% endif %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %} </title>
    <link rel="stylesheet" href="{{ site.url }}/css/default.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.url }}/css/small.css" type="text/css" media="(max-width: 720px)" />
    <link rel="stylesheet" href="{{ site.url }}/css/syntax.css" type="text/css" />
    <link rel="shortcut icon" href="{{ site.url }}/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div class="description">
        <div style="background-image: url({{ site.url }}/images/avatar.png); width: 128px; height: 128px; background-size: cover; border-radius: 50%; margin: 0 auto;"></div>
        <div class="name">Troy Lin</div>
        <div class="desc">Software Development Intern. Blogging about life and learning.</div>
    </div>