{% include header.html %}
<div class="container">
    {% include navigation.html %}
    <div class="main">
        <h2 class="essayTitle"> {{ page.title }} </h2>
        <div class="essayInfo">
            <!-- <div style="float: left;width: 3%;height: auto;"><img src="{{ site.url }}/images/date.png" style="margin-left: 18px;margin-bottom: 20px;" ></div> -->
            <span style="padding:0 20px 0 5px"><i>&nbsp; {{ page.date | date: "%B %d, %Y" }} </i></span>
            <!-- <div style="float: left;width: 3%;height: auto;"><img src="{{ site.url }}/images/tag.png" style="margin-left: 120px;margin-bottom: 20px;" ></div> -->
            <!-- {% for cat in page.categories %}
            <span><a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}" target="_blank">#{{ cat }}</a></span>
            {% endfor %} -->
            {% for keyword in page.keywords %}
            <span class="tag-essay"> {{ keyword }} </span>&nbsp;&nbsp;
            {% endfor %}
        </div>
            
        {{ content }}
        {% if page.categories %}
        <p>
            <br>
            <br>
        </p>
        <!-- <div class="post_footer">
            <p>Published in Keywords:
            {% for keyword in page.keywords %}
            <span class="tag-essay"> {{ keyword }} </span>&nbsp;&nbsp;
            {% endfor %}
            </p>
        </div> -->
        <div class="post_footer">
            <p>Published  in Categories:  
            {% for cat in page.categories %}
            <span class="categ-essay"><a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a></span>&nbsp;&nbsp;
            {% endfor %}
            <p>
          </div>
        <hr>
        <blockquote>
            <p>
                如果有任何问题请联系我:<code class="highlighter-rouge">troylin0218@gmail.com</code><br/>
                采用 <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">知识共享署名4.0</a> 国际许可协议进行许可<br/>
                本站文章除注明转载/出处外，均为本站原创或翻译，转载前请务必署名<br/>
                原文连接: <a rel="license" href="{{ site.url }}{{ page.url }}" target="_blank">{{ site.url }}{{ page.url }}</a> 
            </p>
        </blockquote>

        {% endif %}
        <ul class="prev_next">
            {% if page.previous.url %}
            <li>
                <span>上一篇</span>
                <a href="{{page.previous.url}}">{{page.previous.title}}</a>
            </li>
            {% endif %}
            {% if page.next.url %}
            <li>
                <span>下一篇</span>
                <a href="{{page.next.url}}">{{page.next.title}}</a>
            </li>
            {% endif %}
        </ul>
        {% include share.html %}
        {% include comments.html %}
    </div>
</div>
{% include footer.html %}
